# Python
__pycache__/
*.py[cod]
.Python
*.so
build/
dist/
*.egg-info/

# Poetry
poetry.lock
.venv/
.python-version

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db